body {
  background-color: #f7f7f7;
  flex: 1;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 3rem 2rem;
  /* width: 600px; */
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  /* border: thin solid rgba(0, 0, 0, 0.233); */
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); */
  background-color: #ffffffdf;
  margin-top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.banner {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: rgba(36, 165, 233, 0.5);
}

.error {
  background: rgba(255, 245, 245, 1);
  color: rgba(197, 48, 48, 1);
  border: thin solid rgba(252, 129, 129, 1);
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  width: 100%;
  margin-bottom: 0.7rem;
}

.form {
  width: 100%;
}

.intro-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #1d1d1f;
}

.btn {
  background-color: #24a5e8;
  padding: 0 20px;
  height: 50px;
  border: none;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  transition: background-color 200ms ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #1682bb;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.field {
  width: 100%;
}

.field input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: transparent;
  border: thin solid #c7c6c6;
  background-color: white;
}

.or-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.or-text {
  line-height: 20px;
  text-align: center;
  padding: 1px 0px;
  margin: 4px 0px;
  color: gray;
  padding: 0 10px;
  position: relative;
  align-self: center;
  z-index: 20;
}

.or-border {
  height: 1px;
  width: 100%;
  background-color: #c7c6c6;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: gray;
  border: thin solid #c7c6c6;
  font-weight: 500;
  gap: 0.5rem;
  background-color: white;
}

.google-btn:hover {
  background-color: #f7f7f7;
}

.google-btn-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

@media screen and (max-width: 525px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 50px;
  }
}
